@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #FFFFFF;
  border-radius: 20px
}

::-webkit-scrollbar-thumb {
  background: #121E29;
  border-radius: 20px
}
